# Dataset
data/

# Images
*.jpg
*.jpeg
*.png

# Data files
*.csv
*.CSV
*.npy
*.npz

# Models
*.keras
*.h5
*.pkl
*.joblib

# Python cache
__pycache__/
*.pyc


# Environment
venv/
.env

# IDE
.vscode/
.idea/